{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/Graph.css')}}" media="screen">
{% endblock %}
    
    



{% block contents %}
    <section class="u-clearfix u-custom-color-1 u-section-1" id="sec-2d16">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-size-27 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-container-style u-gradient u-group u-shape-rectangle u-group-1">
                  <div class="u-container-layout u-container-layout-2">
                    <div class="u-container-style u-group u-group-2">
                      <div class="u-container-layout u-valign-top-lg u-valign-top-md">
                        <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-1"></div>
                        <p class="u-text u-text-1">Graph</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-33 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-4">
                <div class="u-container-style u-group u-palette-2-base u-shape-rectangle u-group-3">
                  <div class="u-container-layout u-container-layout-5">
                    <img src="{{url_for('static',filename='images/bdefcaf37d5bdc8540a6909a6a705d75.jpg')}}" alt="" class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-contain u-image-default u-image-1" data-image-width="564" data-image-height="794">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock contents %}   
