{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/Photo.css')}}" media="screen">
{% endblock %}
    
    



{% block contents %}
    <section class="u-align-center u-clearfix u-custom-color-1 u-section-1" id="sec-bd0d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="564" data-image-height="794">
                <img class="u-back-image u-expanded" src="{{url_for('static',filename='images/bdefcaf37d5bdc8540a6909a6a705d75.jpg')}}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="859" data-image-height="1080">
                <img class="u-back-image u-expanded" src="{{url_for('static',filename='images/Untitled4.jpg')}}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="399" data-image-height="564">
                <img class="u-back-image u-expanded" src="{{url_for('static',filename='images/530941c0a5c1774b12985815faa53282.jpg')}}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="564" data-image-height="735">
                <img class="u-back-image u-expanded" src="{{url_for('static',filename='images/Untitled6.jpg')}}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-4">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="759" data-image-height="950">
                <img class="u-back-image u-expanded" src="{{url_for('static',filename='images/s1200.jpg')}}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-5">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-6" data-image-width="1280" data-image-height="720">
              <div class="u-back-slide" data-image-width="859" data-image-height="1080">
                <img class="u-back-image u-expanded u-back-image-6" src="{{url_for('static',filename='images/Untitled4.jpg')}}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-6">
                <h3 class="u-gallery-heading" style="background-image: none;"></h3>
                <p class="u-gallery-text" style="background-image: none;"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="407" data-image-height="493">
                <img class="u-back-image u-expanded" src="{{url_for('static',filename='images/c9136f83164e87f749a716bda670db9d.jpg')}}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-7">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-8" data-image-width="1280" data-image-height="777">
              <div class="u-back-slide" data-image-width="564" data-image-height="735">
                <img class="u-back-image u-expanded u-back-image-8" src="{{url_for('static',filename='images/Untitled6.jpg')}}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-8">
                <h3 class="u-gallery-heading" style="background-image: none;"></h3>
                <p class="u-gallery-text" style="background-image: none;"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-9" data-image-width="2000" data-image-height="1333">
              <div class="u-back-slide" data-image-width="564" data-image-height="794">
                <img class="u-back-image u-expanded" src="{{url_for('static',filename='images/bdefcaf37d5bdc8540a6909a6a705d75.jpg')}}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-9">
                <h3 class="u-gallery-heading" style="background-image: none;"></h3>
                <p class="u-gallery-text" style="background-image: none;"></p>
              </div>
            </div>
          </div>
        </div>
        <a href="" class="u-border-2 u-border-palette-3-dark-1 u-btn u-button-style u-hover-palette-3-light-1 u-palette-3-light-2 u-text-palette-3-dark-2 u-btn-1">Show more&nbsp;<span class="u-icon u-text-palette-1-dark-2"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M441.156,322.876l-48.666-47.386c-3.319-3.243-8.619-3.234-11.93,0.017l-81.894,80.299V8.533 c0-4.71-3.823-8.533-8.533-8.533h-68.267c-4.71,0-8.533,3.823-8.533,8.533v347.273l-81.894-80.299    c-3.311-3.243-8.602-3.251-11.921-0.017l-48.666,47.386c-1.655,1.604-2.586,3.806-2.586,6.11c0,2.304,0.939,4.506,2.586,6.11 l179.2,174.481c1.655,1.613,3.806,2.423,5.948,2.423c2.15,0,4.292-0.811,5.956-2.423l179.2-174.481 c1.647-1.604,2.577-3.806,2.577-6.11C443.733,326.682,442.803,324.48,441.156,322.876z"></path></svg><img></span>
        </a>
      </div>
    </section>
    
    
{% endblock contents %}   